.primarySiteColor{
    color: #252839;
}
.secondarySiteColor{
    color: #677077;
}
.contextTextColor{
    color: #94949c;
}
.headingTextColor{
    color: #f2b632;
}
.addtionalColor{
    color: #3B60A5;
}

.navbarCustomClass{
    background-color: #f2b632;
}
.footerCustomClass{
    background-color: #f2b632;
    padding: 2rem 0rem ;
    position:absolute;
    width: 100%;
    bottom:0;
}

.navbar {
    /* Add the below transitions to allow a smooth color change similar to lyft */
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}

.navbar.scrolled {
    background: rgb(68, 68, 68); /* IE */
    background: rgba(66, 66, 66, .3); /* NON-IE */
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5); }
  
.carousel {
    border: solid #3B60A5; 
    /* margin-top: 100px; */
}

.carouselImgCustomClass{
    display: block;
    max-width: 100%;
    height: auto;
}

#carouselButton {
    position: absolute;
    right: 0;
    bottom: 0; 
}

.paddingCustomClass{
    padding: 50px 50px;
    color: #B4C5E4;
    margin-bottom: 100px;
}

body{
    background-color: #252839;
    position: relative;
    min-height: 100vh;
}

#bodyContainer{
    padding-bottom: 100px;
}

.card{
    background-color: #3B60A5;
    color: #f2b632;
}